body {
    margin: 0;
    background: #000000;
}

.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 50px;
}

.paragraph {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-container {
    position: relative;
    width: 50%;
    height: 75vh;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.form-container {
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    background: rgb(63, 58, 58);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    color: white;
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
}

.checkbox-group {
    line-height: 1px;
    margin-bottom: 15px;
    font-size: 14px;
}

.select-group {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.label-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.select-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.label-text {
    min-width: 100px;
    margin-right: 10px;
}

select {
    width: 50px;
}

.red {
    color: #b80303;
    margin-bottom: 0;
}

.green {
    color: green;
    margin-bottom: 0;
}

.total-container {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.additional-text {
    margin-top: 5px;
    font-size: 14px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background: rgb(63, 58, 58);
}

.logo img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px; /* Adjust spacing between menu items */
}

nav li a {
    text-decoration: none;
    color: white; /* Color of the links */
    font-size: 18px; /* Font size of the links */
}

nav li a:hover {
    color: #ffc107; /* Color of the links on hover */
}

img {
    max-width: 200px; /* Ensure the image is responsive */
    height: auto;
    border: 2px solid white; /* Add border */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* Add box shadow */
    margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .background-container {
        flex-direction: column; /* Stack elements vertically */
        height: auto; /* Allow height to adjust based on content */
    }

    .form-container {
        margin-top: 0; /* Remove margin to align content */
    }

    img {
        margin-bottom: 20px; /* Add margin at the bottom */
    }
}